/* 
        Heading 
*/
.heading-top{
    font-weight: bold;
    margin-top: 30px;
}

/* 
        Logo Name
*/
.logo-name{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    text-align: center; 
    text-align: -webkit-center;
    margin: 0 auto;
}
.logo-name .img{
    background-image: url('../../assets/img/FullLogo.svg');
    height: 20rem;
    width: 20rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    border: 20px solid #aec2e6;
    border-radius: 50%;
}
.logo-name .content{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

/* 

*/


mat-card {
    /* max-width: 400px; */
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

mat-form-field input{
    font-size: 1.3rem;
}

@media (min-width: 960px){    
    .mat-form-field-appearance-legacy , .mat-form-field-wrapper{
        width: 30%;
        margin: 0 auto;
    }
}
