/* 
        Heading 
*/
.heading-top{
    background-color: #e0e0e0;
}

/* 
        Logo Name
*/
.logo-name{
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    text-align: center; 
    text-align: -webkit-center; 
    background-color: #0d2b5f;
}
.logo-name .img{
    height: 8rem;
    width: 8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.logo-name .content{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

/* 

*/


mat-card {
    /* max-width: 400px; */
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

mat-form-field input{
    font-size: 1.3rem;
}

