<div class="container-fluid">
    <div class="row col-12 logo-name">
        <span class="animated infinite pulse img">
        </span>
        
    </div>
    <div class="row heading-top py-2">
        <h3 class="mx-auto">Sign In</h3>
    </div>
    <div class="row mt-3">
        <button class="mx-auto btn btn-outline-primary" (click)="googleSignIn()">
            Connect Google
        </button>
    </div>
    <div class="row">
        <form class="mx-auto mb-2 mt-5">
            <div class="input-field">
                <input type="email" id="inputUsername" required />
                <label for="inputUsername">USERNAME</label>
            </div>
            <div class="mt-5 input-field">
                <input type="password" id="inputPassword" required />
                <label for="inputPassword">PASSWORD</label>
            </div>
            <div class="mt-2 forgot-password">
                <a href="">
                    FORGOT PASSWORD
                </a>
            </div>
            <button class="mt-5 submit-btn btn" [routerLink]="['/home']">SUBMIT <span class="ml-4">➞</span> </button>
        </form>
        <div class="col-12 text-center">
            <p class="mx-auto my-2">Don't have an account <a href="">Sign Up</a></p>
        </div>
    </div>


</div>