<p>Acievements</p>


<button class="btn btn-primary mr-2" (click)="stopAll()">Stop All</button>
<button class="btn btn-primary mr-2" (click)="startGyro()">Gyroscope</button>
<button class="btn btn-primary mr-2" (click)="startAcc()">Accelerometer</button>
<button class="btn btn-primary mr-2" (click)="startAmbien()">Ambient Light Sensor</button>
<button class="btn btn-primary mr-2" (click)="startMagno()">Magnetometer</button>
<button class="btn btn-primary mr-2" (click)="startMagno2()">Magnetometer 2</button>

<div id='status'></div>