  <div class="container-fluid">
    <div class="row heading-top py-2 px-3">
      <button mat-raised-button class="" (click)="location.back()">Back</button>
        <h3 class="mx-auto">Acievements</h3>
    </div>

<button class="btn btn-primary m-2" (click)="startGyro()">Gyroscope</button>

<button class="btn btn-primary m-2" (click)="startAcc()">Accelerometer</button>

<button class="btn btn-primary m-2" (click)="startAmbien()">Ambient Light Sensor</button>

<button class="btn btn-primary m-2" (click)="startMagno()">Magnetometer</button>

<button class="btn btn-primary m-2" (click)="startMagno2()">Magnetometer 2</button>

<div id='gyro'></div>
<div id='acc'></div>
<div id='ambien'></div>
<div id='mag'></div>
<div id='mag2'></div>
</div>
