<div class="container-fluid" *ngIf="auth.user$ | async;">
    <div class="row heading-top py-2">
        <h3 class="mx-auto">Home</h3>
        <button class="mr-2 btn signout-btn" (click)="clickSignOut()">Log Out</button>
    </div>
    <div class="row user-details" [routerLink]="['/achievements']">
        <div class="col-6 user">
            <div class="user-img" [ngStyle]="{'background-image': 'url('+userData.photoURL+')'   }" ></div>
            <h2 class="user-name mt-3">{{userData.displayName}}</h2>
        </div>
        <div class="col-6 star-level my-auto">
            <div class="star">
                <span class="col img" style="background-image: url('../../assets/img/home/star.png');"></span>
                <span class="col content">1160</span>    
            </div>
            <div class="level mt-3">
                <span class="col img" style="background-image: url('../../assets/img/home/level.png');"></span>
                <span class="col content">Level 220</span>    
            </div>
        </div>
    </div>
    <div class="row health-condition">
        <h3 class="mx-auto">Health Condition : Excellent</h3>
    </div>
    <div class="row options" >
        <div class="col-lg-3 col-6 p-2" [routerLink]="['/chat']">
            <div class="img" style="background-image: url('../../assets/img/home/chatwithme.png');"></div>
            <div class="content">Chat with me</div>
        </div>
        <div class="col-lg-3 col-6 p-2">
            <div class="img" style="background-image: url('../../assets/img/home/diagnosis.png');"></div>
            <div class="content">Diagnosis</div>
        </div>
        <div class="col-lg-3 col-6 p-2" [routerLink]="['/connection']">
            <div class="img" style="background-image: url('../../assets/img/home/connect.png');"></div>
            <div class="content">Connect to wearables</div>
        </div>
        <div class="col-lg-3 col-6 p-2" [routerLink]="['/health']">
            <div class="img" style="background-image: url('../../assets/img/home/healthreport.png');"></div>
            <div class="content">Health Report</div>
        </div>
    </div>
    <df-messenger
        intent="WELCOME"
        chat-title="Bot_Mudit"
        agent-id="e01c14e2-80e0-4fef-ae29-45d29bd3aa2a"
        language-code="en"
    ></df-messenger>
</div>