/* 
        Heading 
*/
.heading-top{
    background-color: #e0e0e0;
}
.heading-top .signout-btn{
    /* clip-path: polygon(0% 0%, 100% 100%, 100% -125%, 0% 50%, 25% 100%, 100% 100%); */
    /* width: 5rem; */
    background-color: #321b91;
    color: #fff;
}

/* 
        User Details
*/
.user-details{
    padding: 2rem;
    text-align: center; 
    text-align: -webkit-center; 
}
.user-details .user-img{
    height: 8rem;
    width: 8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.user-details .user-name{
    font-size: 1.5rem;
    color: slategrey;
}
.star-level .img{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.star-level .content{
    font-size: 1.1rem;
}
.star-level .star, .star-level .level{
    text-align: left;
    text-align: -webkit-left;
    cursor: pointer;
}

/* 
        Health condition
*/
.health-condition{
    background-color: #c4e1a4;
    border-top: 0.5px solid #9dd6d0;
    border-bottom: 0.5px solid #9dd6d0;
}

/* 
        Services options 
*/
.options .img{
    height: 8rem;
    width:  8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.options{
    padding: 2rem;
    text-align: center; 
    text-align: -webkit-center; 
}
.options .content{
    padding-top: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.options div[class*="col-lg"]{
    border: 5px solid #c4e1a4;
    border-radius: 30px;
    opacity: .7;
    transform: scale(.95);
    transition: .5s;
}

.options div[class*="col-lg"]:hover{
    border-color: antiquewhite;
    opacity: 1;
    transform: scale(1);
}

.options div[class*="col-lg"]:focus{
    outline: none;
    border-radius: 30px;
}
